
html,body
{
    height:100%;
    color:#1c94c4;

}


.top10 {

    margin-top: 20px;

}
.top5 {

    margin-top: 5px;

}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    /*margin-bottom: 0;*/
    /*border-radius: 0;*/
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 600px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 0px;
    background-color: white;
    height: 100%;
    /*border-left:solid 2px #1c94c4; ;*/
}

h1 {
    margin: .67em 0;
    font-size: 2em;
    color:red;
}

.navbar {

    /*min-height: 80px;*/
    background-image: -moz-linear-gradient(top, white 0%,gainsboro 100%);
    background-image: -webkit-linear-gradient(top, #ffffff 0%,gainsboro 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%,gainsboro 100%);
    background-image:  -ms-linear-gradient(top, #ffffff 0%,gainsboro 100%);
    background-image: linear-gradient(top, #ffffff 0%,gainsboro 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='gainsboro');/*For IE7-8-9*/

    border-bottom:solid 3px #1c94c4;

}


/*Höhe für das BrandLogo*/
.navbar-brand,.navbar-nav li a
{
    line-height: 71px;
    height: 71px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Style für den Toggle-Button des Menus bei small-Devices*/

.navbar-default .navbar-toggle .icon-bar {
    background-color:#1c94c4;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color:#eb7108;
}
.navbar-default .navbar-toggle {
    border-color: #1c94c4;
    background-color:transparent;
}
.navbar-default .navbar-toggle .active {
    border-color: #1c94c4;
    background-color:transparent;
}
.navbar-default .navbar-toggle:hover {
    border-color: #eb7108;
    background-color:transparent;
}

/*Styles für active-Links* mit der bootsrap-class : active in li */
.navbar-default .navbar-nav > li.active a{

    color: #eb7108;
    background-color: #ffffff;
    /*border:solid 2px #eb7108 ;*/


}

.navbar-default .navbar-nav > li.active a:hover{

    color: #eb7108;
    background-color: #ffffff;
    /*border:solid 2px #eb7108 ;*/

}


/*Styles für Links inactive*/
.navbar-default .navbar-nav > li > a {

    color: #1c94c4;
    /*border:solid 2px transparent ;*/
}

/*Style für Link hover */
.navbar-default .navbar-nav > li >  a:hover {

    color: #eb7108;
    background-color: #ffffff;
    /*border:solid 2px #eb7108 ;*/

}

/*Der Container für den Content in der Mitte*/
.content-main{

    color:#1c94c4;
    margin-top: 80px ;
    /*border-left:solid 2px #1c94c4; ;*/
    /*border-right:solid 2px #1c94c4; ;*/
}


/*Styles für side-nav-rechts*/


/*wells Styles für den service-Bereich im side-nav*/
.service {

    background-color: white;
    border:solid 2px #1c94c4; ;
    padding:0px;
    color:#1c94c4;

}

.service > h4 {

    margin-top:2px;
    margin-left:2px;
    margin-right:2px;
}

 p {

    padding : 10px ;
}

/*Überschrift der services*/

.serviceHead {

    display:inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.fontColor {


}

.panel-heading .fontColor {




}

.panel-default > .panel-heading{

    color:  #1c94c4;

}




/* Set black background color, white text and some padding + sticky footer */
footer {
    /*background-color: #555;*/
    /*background-color: gainsboro;*/


    background-image: -moz-linear-gradient(top, white 0%,gainsboro 100%);
    background-image: -webkit-linear-gradient(top, #ffffff 0%,gainsboro 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%,gainsboro 100%);
    background-image:  -ms-linear-gradient(top, #ffffff 0%,gainsboro 100%);
    background-image: linear-gradient(top, #ffffff 0%,gainsboro 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='gainsboro');/*For IE7-8-9*/

    border-top:solid 1px gainsboro;


    color:  #1c94c4;
    padding: 15px;

    /*Sticky footer*/
    /*position: absolute;*/
    /*bottom: 0;*/

    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 150px;*/
    /*background-color: #f5f5f5;*/
    /*background-color: yellow;*/

}


.tableCustomerNews {
    /*float:left;*/
    color:white;
    background-color: #eb8f00;
    font-size: large;
    font-weight: bolder;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    border-radius:4px;
    border : 2px solid #1c94c4;
    margin : 1px;
    padding :5px;
}





/*Order-Page*/

.orderRow
{
    color:#1c94c4;
    padding:5px;;

}

.dropdown-menu > li > a ,  .dropdown-menu > li > a:hover
{

    color:#1c94c4;

}
/*Admin-Orders*/


#adminTableOrders
{

    /*max-height:200px;*/
    /*width:450px;*/
    /*overflow-y:auto;*/

}


.tblHead div {
    width      : 90px;
    vertical-align:middle;
    background-color: #eb8f00;
    color: white;
    height:25px;
    padding-left:5px;
    border-radius:4px;
    border : 1px solid #1c94c4;
    border-right: 0px solid #1c94c4;

    float:left;
}

.tblContent div{

    width      : 90px;
    vertical-align:middle;
    background-color: white;
    color:#1c94c4;
    height:25px;
    padding-left:5px;
    padding-top: 5px;
    border-radius:4px;
    border : 1px solid #1c94c4;
    border-right: 0px solid #1c94c4;
    font-size: small;
    float:left;
}


/* DetailsTabelle OrderPositions */


#tableDetails
{
    width:inherit;padding:0;padding-bottom:5px;border: none;height:auto;
}

 #tableDetails div.tblContent{
    font-size : x-small;
    clear:left;
     height:15px;

}

 #tableDetails div.tblHead{
    font-size:small;
    height:20px;
    clear:left
}

#tableDetails div.tblHead div {

    width        : 50px;
    vertical-align:middle!important;
    color : white;
    font-size:small;
    background-color:  #1c94c4;
    height:20px;
    padding:0px;
    padding-left: 5px;
    border : 1px solid blue;
    float:left;

}
#tableDetails div.tblContent div{

    width : 50px;
    color:blue;
    background-color: yellow;
    height:15px;
    padding-left:5px;
    padding-top:0px;
    font-size : x-small;
    font-weight: bolder;
    border : 1px solid blue;
    float:left;
}


/*Admin-Article*/

/* Haupttabelle AdminArtikel */

.tableAdminArtikel{
    /*overflow:auto; *//* scrollbar einblenden bei Bedarf */
    /*height:200px;*/
    /*width:500px;*/


}

.tableAdminArtikel div.tblContent{
    font-size :small;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    clear:left;

}


.tableAdminArtikel div.tblHead
{
    font-size:large;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    clear:left
}



.tableAdminArtikel div.tblHead div {

    width      : 90px;
    vertical-align:middle;
    background-color: #eb8f00;
    color: white;
    height:25px;
    padding-left:5px;
    border-radius:4px;
    border : 1px solid #1c94c4;
    border-right: 0px solid #1c94c4;
    float:left;


}


.tableAdminArtikel div.tblContent div
{

    width      : 90px;
    vertical-align:middle;
    background-color: white;
    color:#1c94c4;
    height:25px;
    padding-left:5px;
    padding-top: 5px;
    border-radius:4px;
    border : 1px solid #1c94c4;
    border-right: 0px solid #1c94c4;
    float:left;


}


.tableAdminArtikel div.tblContent div input{


    color:#1c94c4;
    height:16px;
    font-weight:bold;
    font-size: small;
}

/* HauptTabelle AdminArtikelNew  */

.tableAdminArtikelNew{
    overflow:auto; /* scrollbar einblenden bei Bedarf */
    height:200px;
    width: 480px;


}

.tableAdminArtikelNew div.tblContentNew{
    font-size :x-small;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    clear:left;

}


.tableAdminArtikelNew div.tblHead
{
    font-size:large;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    clear:left
}



.tableAdminArtikelNew div.tblHead div {

    width      : 90px;
    vertical-align:middle;
    background-color: #eb8f00;
    color: white;
    height:25px;
    padding-left:5px;
    border-radius:4px;
    border : 1px solid #1c94c4;
    border-right: 0px solid #1c94c4;
    float:left;


}


.tableAdminArtikelNew div.tblContentNew div
{

    width      : 90px;
    vertical-align:middle;
    background-color: white;
    color:#1c94c4;
    height:25px;
    padding-left:5px;
    padding-top: 5px;
    border-radius:4px;
    border : 1px solid #1c94c4;
    border-right: 0px solid #1c94c4;
    float:left;


}

.tableAdminArtikelNew div.tblContentNew div input{


    color:#1c94c4;
    height:16px;
    font-weight:bold;
    font-size: small;
}



.promptDialog {

    position:absolute;
    top: 100px;
    left:200px;
    z-index:105;
    border: 2px #1c94c4 solid;
    width:420px;
    height:300px;


    /* Hellgrauer Hintergrund*/
    /*background: #eeeeee url(ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;*/
    background: #eeeeee;
    color:#1c94c4;
    border-radius:8px;
    font-size: large;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;


}






/*Copyright Footer*/

.copyRight,.nav-pills > li > a .copyRight:hover {

    background-color: #1c94c4 !important;
    color:#fff !important;

}

  .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #1c94c4
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 768px) {
    .sidenav {
        height: auto;
        padding: 15px;

    }

    .row.content {height:auto;}
}



